.bodytext {  font-family: arial; font-size: 10pt; font-style: normal; line-height: normal; font-weight: normal; text-decoration: none; color: #000000}
.header1 {  font-family: arial; font-size: 12pt; font-style: normal; line-height: normal; font-weight: normal; text-decoration: none; color: #000000}
.header2 {  font-family: arial; font-size: 10pt; font-style: normal; line-height: normal; font-weight: bold; text-decoration: none; color: #F8B71D}
.copyrighttext {  font-family: arial; font-size: 8pt; font-style: normal; line-height: normal; font-weight: normal; text-decoration: none; color: #000000}
a {text-decoration: underline; font-family: arial; font-size: 10pt; font-style: bold; line-height: normal; font-weight: bold; color:orange}
.bold {  font-family: arial; font-size: 10pt; font-style: normal; line-height: normal; font-weight: bold; text-decoration: none; color: #000000}
li {  }
td {  font-family: arial; font-size: 10pt; font-style: normal; line-height: normal; font-weight: normal; text-decoration: none; color: #000000}
H1 {  font-family: arial; font-size: 12pt; font-style: normal; line-height: normal; font-weight: bold; text-decoration: none; color: blue}
H2 {  font-family: arial; font-size: 12pt; font-style: normal; line-height: normal; font-weight: bold; text-decoration: none; color: #ED3F00}
a.smallwhite {text-decoration: none; font-family: verdana; font-size: 7pt; font-style: normal; line-height: normal; font-weight: normal; color:#FFFFFF}
a.bigwhite {text-decoration: none; font-family: arial; font-size: 9pt; font-style: bold; line-height: normal; font-weight: bold; color:#FFFFFF}
td.smallwhite {text-decoration: none; font-family: arial; font-size: 7pt; font-style: normal; line-height: normal; font-weight: normal; color:#FFFFFF}
a.smalltext {text-decoration: none; font-family: arial; font-size: 8pt; font-style: normal; line-height: normal; font-weight: normal; color:#ED3F00}
.shadow {font-size: 14pt; color: #FFFFFF; width:350; height:100; filter: Shadow(Color=#BBBBBB, Direction=50)}
table  {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   font-style: normal; 
   font-weight: normal; 
   font-variant: normal;
}

td  {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px; 
   font-style: normal; 
   font-weight: normal; 
   font-variant: normal;
}
A {
   color: #111111;
   text-decoration: underline;
   font-weight: normal;
}
A:hover { 
   color: orange;
   text-decoration: none;
   font-weight: none;
}
.leftNavPad {
   font-family: Verdana;
   font-size: 10pt;
   font-weight: bold;
   color: FFFFFF;
   padding-left:1px;
   text-decoration: none;
}

.leftNavHref {
   font-family: arial, helvetica;
   font-size: 10pt;
   color: 000000;
   text-decoration: none;
}

.leftNavHrefPad {
   font-family: arial, helvetica;
   font-size: 10pt;
   color: 111111;
   padding-left:1px;
   text-decoration: none;
}
.color1 {
   BACKGROUND: #EFF0F0;
}
.color2 {
   BACKGROUND: #000000;
}
.topmenutext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: normal;
}
.copyrights {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
}
.pplansinclude {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #333333;
}
.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
}
BACKGROUND: #666666;
}
