.text {
	FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 10px
}
.check {
	FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 10px
}
.meniu {
	BACKGROUND-COLOR: #ebf9d8; BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; PADDING-LEFT: 10px
}
.meniu1 {
	COLOR: #93b368; TEXT-DECORATION: none
}
A.link {
	COLOR: #ff4200; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none
}
A.link:hover {
	TEXT-DECORATION: underline
}
A.help {
	COLOR: #ff4200; CURSOR: help; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 10px; TEXT-DECORATION: none
}
.subliniat {
	BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10px; FONT-WEIGHT: bold
}
.subliniat1 {
	BORDER-BOTTOM: #ff4200 1px solid; COLOR: #8fb25e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.subliniat2 {
	COLOR: #8fb25e; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
TD.pagetitle {
	BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 14px; FONT-WEIGHT: bold
}
TD{
	BORDER-BOTTOM-COLOR: #ffffff; BORDER-BOTTOM-WIDTH: 0px; BORDER-LEFT-COLOR: #ffffff; BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-COLOR: #ffffff; BORDER-RIGHT-WIDTH: 0px; BORDER-TOP-COLOR: #ffffff; BORDER-TOP-WIDTH: 0px; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 12px
}
TR.0 {
	BACKGROUND-COLOR: #ffffff
}
TR.1 {
	BACKGROUND-COLOR: #eefadc
}
TD.saved {
	BACKGROUND-COLOR: #00ff33; COLOR: white; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
TD.error {
	BACKGROUND-COLOR: red; COLOR: white; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
A.menu2 {
	COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none
}
TD.menu2 {
	BACKGROUND-COLOR: #aaaaaa; BORDER-BOTTOM: #222222 2px solid; BORDER-LEFT: #dddddd 2px solid; BORDER-RIGHT: #222222 2px solid; BORDER-TOP: #dddddd 2px solid; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
A.menu3 {
	COLOR: #000000; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none
}
TD.menu3 {
	BACKGROUND-COLOR: #dddddd; BORDER-BOTTOM: #222222 2px solid; BORDER-LEFT: #dddddd 2px solid; BORDER-RIGHT: #222222 2px solid; BORDER-TOP: #dddddd 2px solid; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
A.menu {
	COLOR: #ffffff; FONT-FAMILY: Verdana,Arial,Helvetica,sans-serif; FONT-SIZE: 12px; TEXT-DECORATION: none
}
TD.menu {
	BACKGROUND-COLOR: #ff4200; BORDER-BOTTOM: #bf2a00 2px solid; BORDER-LEFT: #f8e398 2px solid; BORDER-RIGHT: #bf2a00 2px solid; BORDER-TOP: #f8e398 2px solid; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-LEFT: 5px; PADDING-RIGHT: 5px; PADDING-TOP: 5px
}
TD.title {
	BACKGROUND-COLOR: #eefadc; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 16pt; FONT-WEIGHT: normal; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 10px; PADDING-TOP: 2px
}
TD.special {
	BACKGROUND-COLOR: #eefadc; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}

TD.Check {
	BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM: #ffffff 0px solid; BORDER-LEFT: #ffffff 0px solid; BORDER-RIGHT: #ffffff 0px solid; BORDER-TOP: #ffffff 0px solid; COLOR: #ffffff; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal; PADDING-LEFT: 5px
}
TD.inputname {
	BACKGROUND-COLOR: #eefadc; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal; PADDING-LEFT: 5px
}

TD.inputvalue {
	BACKGROUND-COLOR: #dddddd; BORDER-BOTTOM: #ffffff 1px solid; BORDER-LEFT: #ffffff 1px solid; BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal; PADDING-BOTTOM: 2px; PADDING-LEFT: 5px; PADDING-TOP: 2px
}
TABLE.list {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid
}
INPUT {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; MARGIN: 2px
}
INPUT_check {
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; MARGIN: 2px
}


INPUT.char {
	BACKGROUND-COLOR: #dddddd; FONT-SIZE: 7pt; FONT-STYLE: italic
}
INPUT.image {
	
}

TEXTAREA {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt
}
SELECT {
	BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt
}
.instructions {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 10pt; FONT-WEIGHT: normal
}
.b:link {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.b:visited {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.b:active {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.b:hover {
	COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; FONT-SIZE: 12px; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
